@import 'var';
@import 'footer';
@import 'header';
@import 'mixins';

* {
    margin: 0;
    padding: 0;

    ul {
        list-style-type: none;
        text-decoration: none;
    }
}


a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.header {
    @import url(_header.scss);
}

.top-head {
    background: #f8f3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorSelectSite;
        margin-left: 230px;

    }
}

.basket {
    display: flex;
    gap: 128px;
    margin-left: 230px;
    margin-top: 96px;

    &__products {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__product_equel {
        display: flex;
        width: 652px;
        height: 306px;
        box-shadow: 17px 19px 24px 0 rgba(0, 0, 0, 0.13);

    }

    &__product-text {
        margin-left: 22px;
        margin-top: 31px;
        display: flex;
        flex-direction: column;
        gap: 42px;
    }

    &__heading {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 24px;
        color: #222;
        width: 260px;
        white-space: pre-wrap;
    }

    &__point {
        gap: 8px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 22px;
        color: #575757;
    }

    &__adress__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    &__adress__form_text {

        display: flex;
        flex-direction: column;
        width: 340px;
        height: 45px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 13px;
        color: #222;
        padding-left: 18px;
        ;
    }

    &__adress__form_button {
        margin-top: 23px;
        width: 101px;
        height: 35px;
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 11px;
        color: #4a4a4a;
        background-color: white;
        border: 1px solid #4a4a4a;
        transition: all 0.3s;
        animation: heartbeat 1.5s ease-in-out 3s both;
    }

    &__price {
        color: #ef5b70;
    }

    &__text-quantity {
        display: flex;
        gap: 24px;
    }

    &__text-quantity-number {
        width: 40px;
        height: 25px;
        text-align: end;
        border: 1px solid rgb(195, 190, 190);
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        color: #656565;
    }

    &__adress {
        width: 360px;
        height: 272px;

        &__heading {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: #222;
        }
    }

    &__total-price {
        width: 360px;
        height: 214px;
        display: flex;
        flex-direction: column;
        margin-top: 75px;
        background-color: #f5f3f3;
        text-align: end;


        gap: 12px;

        &__title {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 11px;
            color: #4a4a4a;
            white-space: pre-wrap;
            padding-right: 34px;
            padding-top: 39px;
        }

        &__heading {
            font-family: var(--font-family);
            font-weight: 300;
            font-size: 16px;
            color: #222;
            white-space: pre-wrap;
            padding-right: 37px;
        }

    }

    &__heading-price {
        font-weight: 700;
        color: #f16d7f;
    }
}

.cross_on_product {
    position: relative;
    left: 355px;
    top: -120px;
}

.basket__adress__form_button:hover {
    background-color: #F16D7F;
    color: white;
}


.basket__total-price__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: white;
    border: 2px solid #F26376;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    margin-bottom: 60px;
    width: 273px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all 0.3s;
    animation: heartbeat 1.5s ease-in-out 3s both;
}

.basket__heading-price::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 273px;

    padding-top: 23px;
    border-bottom: 3px solid #e2e2e2;
}

.basket__total-price__button:hover {
    background-color: #F16D7F;
    color: white;
}

.buttons-bellow {
    margin-top: 32px;
    margin-bottom: 128px;
    display: flex;
    gap: 192px;
    width: 652px;
    justify-content: space-between;

}

.button-bellow {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    color: #A4A4A4;
    font-style: normal;
    background-color: white;
    border: 2px solid #A4A4A4;
    display: block;
    width: 212px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all 0.3s;
    animation: heartbeat 1.5s ease-in-out 3s both;
}

.button-bellow:hover {
    background-color: #F16D7F;
    color: white;
}

.footer {
    @import url(_footer.scss);
}

.footer__passage {
    top: 1318px;
}

.footer__subscribe {
    top: 1376px;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .top-head {
        width: 768px;

        &__heading {
            margin-left: 16px;
        }
    }

    .header {
        gap: 424px;

        &__buttons__left {
            margin-left: 32px;
        }

        &__buttons__right {
            padding-bottom: 18px;
            padding-top: 18px;
            margin-right: 32px;
            width: 169px;
        }
    }

    .basket {
        gap: 62px;
        margin-left: 0;
        margin-top: 59px;
        flex-direction: column;

        &__product_equel {
            width: 734px;
            height: 306px;
        }

        &__right-part {
            display: flex;
            flex-direction: row;
            gap: 15px;
            margin-bottom: 128px
        }

        &__total-price {
            margin-top: 37px;
        }
    }

    .buttons-bellow {
        gap: 48px;
        margin-left: 130px;
        margin-right: 130px;
        margin: auto;
        justify-content: center;
    }



    .footer {
        &__info {
            height: 610px;
            gap: 48px;
            flex-direction: column;
        }

        &__item {
            height: 584px;
            width: 736px;
        }

        &__background__item {
            height: 614px;
            width: 736px;
            object-fit: cover;
            object-position: 0 0;
        }

        &__item_info {
            width: 360px;
        }

        &__passage {
            top: 1554px;
            margin-left: 204px;
        }

        &__subscribe {
            top: 1810px;
            margin-left: 105px;
            justify-content: center;
        }

        &__copyrights {
            position: relative;
        }

        &__copyright {
            margin-left: 32px;
        }

        &__social__icons {
            margin-right: 32px;
        }
    }

    .cross_on_product {
        left: 434px;
        top: -120px
    }
}

@media(max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .hidemobile {
        visibility: hidden;
        display: none;
    }

    .top__image {
        visibility: hidden;
        display: none;
    }

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header {
        gap: 200px;
        width: 100vw;

        &__buttons__right {
            display: flex;
            justify-content: flex-end;
            width: 32px;
            margin-right: 16px;
        }

        &__buttons__left {
            margin-left: 16px;
        }
    }

    .top-head {
        flex-direction: column;
        gap: 32px;
        width: 100vw;

        &__heading {
            margin: auto;
        }

        &__breadcrumbs {
            margin: auto;
        }
    }

    .basket {
        //gap: 62px;
        margin-left: 0;
        margin-top: 39px;
        flex-direction: column;

        &__products {
            gap: 32px;
            align-items: center;
        }

        &__product_equel {
            width: 358px;
            height: 188px;
        }

        &__right-part {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-bottom: 128px
        }

        // &__total-price {
        //     margin-top: 37px;
        // }
        &__image {
            height: 188px;
        }

        &__heading {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            text-align: left;
            width: 143px;

        }

        &__product-text {
            margin-left: 7px;
            margin-top: 13px;
            gap: 25px;
        }

        &__point {
            font-size: 14px;
            font-weight: 400;
            line-height: 16.8px;
            text-align: left;

        }

        &__text-quantity-number {
            width: 24px;
            height: 15px;
            text-align: center;
            font-weight: 400;
            font-size: 12px;
            color: #656565;
        }
        &__right-part {
            align-items: center;
        }
        &__adress__form {
            align-items: 
            center;
        }
        &__adress__form_text {
            //width: 360px;
            
        }
    }

    .cross_on_product {
        width: 9px;
        left: 174px;
        top: -80px;
    }

    .buttons-bellow {
        gap: 9px;
        margin-left: 9px;
        margin-right: 9px;
        justify-content: center;
        width: 100vw;       
    }
    .button-bellow {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        text-align: center;
        width: 175px;
    }


    .footer {
        display: contents;

        &__passage {
            top: 3010px;
        }

        &__subscribe {
            top: 3288px;
        }

        &__item {
            height: 610px;
            width: 100vw;
        }

        &__background__item {
            width: 100vw;
            height: 610px;
            object-fit: cover;
            object-position: 0 0;
        }

        &__passage {
            width: 100vw;
            margin-left: 0px;
        }

        &__subscribe {
            width: 100vw;
            margin-left: 0px;
            margin-right: 0px;
            justify-items: center;
        }

        &__passage__text {
            padding-top: 29px;
            font-size: 18px;
            line-height: 21px;
        }

        &__subscribe__button {
            width: 311px;
            margin-right: 0px;
        }

        &__subscribe__heading {
            width: 271px;
        }

        &__subscribe__title {
            width: 271px;
            font-size: 14px;
            line-height: 21px;
        }

        &__copyrights {
            width: 100vw;
            height: 143px;
            justify-content: center;
            flex-direction: column-reverse;
        }

        &__social__icons {
            margin: 43px 114px 40px 114px
        }

        &__copyright {
            margin-left: 50px;
            margin-right: 50px;
        }
    }

}