@import 'var';
@import 'footer';
@import 'header';
@import 'mixins';

* {
    margin: 0;
    padding: 0;

    ul {
        list-style-type: none;
        text-decoration: none;
    }
}


a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.header {
    @import url(_header.scss);
}

.top-head {
    background: #f8f3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &__heading {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $colorSelectSite;
        margin-left: 230px;

    }
}

.registration {
    display: flex;
    margin-left: 230px;
    margin-right: 230px;
    gap: 128px;

    &__name {
        width: 360px;
        height: 149px;
        margin-top: 64px;
    }

    &__title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: #222;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        width: 340px;
        height: 45px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 13px;
        color: #222;
        padding-left: 18px;
    }

    &__choose-gender {
        margin-top: 31px;
        margin-bottom: 33px;
        display: flex;
        gap: 20px;
    }

    &__gender {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 11px;
        color: #000;
    }

    &__label {
        display: flex;
        gap: 10px;
    }


    &__text-bellow {
        margin-top: 15px;
        margin-bottom: 39px;
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 13px;
        color: #b1b1b1;
    }
}

.registration {
    &__right {
        margin-top: 64px;

        width: 652px;
        height: 334px;

        &__heading {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 24px;
            color: #000;
            margin-bottom: 22px;
        }

        &__text {
            font-family: var(--font-family);
            font-weight: 300;
            font-size: 24px;
            color: #000;
            margin-bottom: 21px;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    &__list-point {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 24px;
        color: #000;
        white-space: pre-wrap;
    }
}

ul {
    list-style-type: none;
    //list-style-image: url(/image/Vector.svg);
}

ul.registration__right__list li::before {
    content: '\2714';
}

.registration__button {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 14px;
    color: #A4A4A4;
    font-style: normal;
    background-color: white;
    border: 2px solid #A4A4A4;
    display: block;
    width: 167px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 96px;
    transition: all 0.3s;
    animation: heartbeat 1.5s ease-in-out 3s both;
}

.registration__button:hover {
    background-color: #F16D7F;
    color: white;
}

.footer {
    @import url(_footer.scss);
}

.footer__passage {
    top: 1005px;
}

.footer__subscribe {
    top: 1063px;
}